Packs/TelefonicaCleanEmail/Playbooks/playbook-TC2Tech_CleanEmail_Security.yml
id: CE-OCM-Security
version: -1
name: CE-OCM-Security
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d2daa8b5-eb8d-43df-8871-2111a7a22b69
    type: start
    task:
      id: d2daa8b5-eb8d-43df-8871-2111a7a22b69
      version: -1
      name: ""
      description: Playbook entry point.
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: b41323ee-b169-4f24-8633-f3c76b538031
    type: regular
    task:
      id: b41323ee-b169-4f24-8633-f3c76b538031
      version: -1
      name: Clear context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
      - "5"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: a7f7b980-2038-4285-81e7-32bc2ac5111e
    type: title
    task:
      id: a7f7b980-2038-4285-81e7-32bc2ac5111e
      version: -1
      name: Playbook Finished
      description: Playbook exit.
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 602072a0-2123-4584-88d7-066b1e6d3434
    type: regular
    task:
      id: 602072a0-2123-4584-88d7-066b1e6d3434
      version: -1
      name: Assign client
      description: Assigns a client from the service client list, using the incident
        source instance.
      scriptName: TC2TechCEAssignClient
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      clients:
        complex:
          root: lists
          accessor: clean_email_clients
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 05b27ca2-7202-4c9b-82c1-857f2685c6ac
    type: regular
    task:
      id: 05b27ca2-7202-4c9b-82c1-857f2685c6ac
      version: -1
      name: Transcode client
      description: Get all rows matching the search parameters.
      script: CybPortalLists|||tc2tech-portal-rows-get
      type: regular
      iscommand: true
      brand: CybPortalLists
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      external_id:
        simple: trascoding
      filter:
        simple: "{\n\t\"and\": [\n\t\t{\n\t\t\t\"eq\": {\n\t\t\t\t\"attribute\": \"tenantID\",\n\t\t\t\t\"value\":
          ${incident.tc2techtenantid}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"eq\": {\n\t\t\t\t\"attribute\":
          \"socID\",\n\t\t\t\t\"value\": ${incident.tc2techsocid}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"eq\":
          {\n\t\t\t\t\"attribute\": \"clientID\",\n\t\t\t\t\"value\": ${incident.tc2techclientid}\n\t\t\t}\n\t\t}\n\t]\n}"
      limit:
        simple: "1"
      tenant_id:
        simple: "1"
      using:
        simple: CybPortalLists_PRO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c0d873e8-2f11-4020-8f07-259a2884e7b8
    type: regular
    task:
      id: c0d873e8-2f11-4020-8f07-259a2884e7b8
      version: -1
      name: Generate UUID
      description: Generates a random UUID (UUID 4).
      scriptName: GenerateRandomUUID
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 4670d3bc-719b-4a85-88a4-67960a141a8d
    type: regular
    task:
      id: 4670d3bc-719b-4a85-88a4-67960a141a8d
      version: -1
      name: Assign service IDs
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      tc2techserviceincidentid:
        complex:
          root: GeneratedUUID
      tc2techsourcesystemid:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: clean_email.source_system_id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 0ab9a6ba-7313-400f-80b6-57390060b055
    type: regular
    task:
      id: 0ab9a6ba-7313-400f-80b6-57390060b055
      version: -1
      name: Adapt to OCM
      description: Adapt the Proofpoint event information to the Case Management data
        model.
      scriptName: TC2TechCEModelETL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 2b865e4d-805c-407f-8c69-64cf4bf89223
    type: condition
    task:
      id: 2b865e4d-805c-407f-8c69-64cf4bf89223
      version: -1
      name: Event type?
      description: Decides the flow according to the event type.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      Click:
      - "16"
      Message:
      - "10"
    separatecontext: false
    conditions:
    - label: Message
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.type
            iscontext: true
          right:
            value:
              simple: CleanEmail Message
    - label: Click
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.type
            iscontext: true
          right:
            value:
              simple: CleanEmail Click
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 4b4c1e98-0e96-4235-8977-ac2ac9460ea6
    type: regular
    task:
      id: 4b4c1e98-0e96-4235-8977-ac2ac9460ea6
      version: -1
      name: Prepare OCM context
      description: Creates OCM context from incident, based on operation and client
        info.
      scriptName: TC2TechOCMContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      operation:
        simple: CREATE
      queue:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: clean_email.queue
      transcode:
        complex:
          root: TC2Tech.Portal
          accessor: Rows
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: items
      type:
        simple: SECURITY
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: af923c20-3fc3-453b-8960-d07f76c039fb
    type: regular
    task:
      id: af923c20-3fc3-453b-8960-d07f76c039fb
      version: -1
      name: Create case
      description: Delivers a message to the specified queue.
      script: AWS - SQS_senderv2|||aws-sqs-send-message
      type: regular
      iscommand: true
      brand: AWS - SQS_senderv2
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      messageBody:
        complex:
          root: TC2Tech.OCM
          accessor: Context
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: '{context: @}'
          - operator: Stringify
      messageGroupId:
        simple: "1"
      queueUrl:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: ocm.queue
      using:
        simple: AWS_SQS_senderv2_CleanEmail_PRO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 6826f4ab-9ea6-4a43-8d7b-c73ebf1f7094
    type: playbook
    task:
      id: 6826f4ab-9ea6-4a43-8d7b-c73ebf1f7094
      version: -1
      name: CE-OCM-Security-loop
      description: Process case updates.
      playbookName: CE-OCM-Security-loop
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 61896a7b-5e1e-4428-8837-2cff03e83464
    type: regular
    task:
      id: 61896a7b-5e1e-4428-8837-2cff03e83464
      version: -1
      name: Set wait for clicks
      description: Sets/unsets the wait flag for the current incident.
      scriptName: TC2TechOCMSetWait
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      wait:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 6d1ef24a-8caf-42ef-84c1-43800faae71e
    type: regular
    task:
      id: 6d1ef24a-8caf-42ef-84c1-43800faae71e
      version: -1
      name: Close incident
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 4955162d-c770-4196-8ed2-9a885604491b
    type: regular
    task:
      id: 4955162d-c770-4196-8ed2-9a885604491b
      version: -1
      name: Get related active case
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: SearchIncidentsV2
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      query:
        simple: type:"CleanEmail Message" ${incident.tc2techcemessageid} -status:2
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: a4dcba78-9498-4ddb-87b7-ef40c54c0b90
    type: condition
    task:
      id: a4dcba78-9498-4ddb-87b7-ef40c54c0b90
      version: -1
      name: Has the active case been found?
      description: Check whether the case has been closed or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              complex:
                root: foundIncidents
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "0"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 93869e69-81e0-45e5-8901-3ae21e39f667
    type: condition
    task:
      id: 93869e69-81e0-45e5-8901-3ae21e39f667
      version: -1
      name: Wait for related active case
      description: Wait for the related case to be ready to accept updates.
      tags:
      - WaitForMessage
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      ReadyForUpdate:
      - "21"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: dc7ac154-1291-4e54-8dec-1585f58244f2
    type: regular
    task:
      id: dc7ac154-1291-4e54-8dec-1585f58244f2
      version: -1
      name: Link click to message
      description: Add click to its associated message as an event within an alert.
      scriptName: TC2TechCEAddClick
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 3e0813bf-9ead-4457-803f-02f6eb0ca2ac
    type: regular
    task:
      id: 3e0813bf-9ead-4457-803f-02f6eb0ca2ac
      version: -1
      name: Trigger case update
      description: commands.local.cmd.task.complete
      script: Builtin|||taskComplete
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      id:
        simple: WaitForClicks
      incidentId:
        complex:
          root: foundIncidents
          transformers:
          - operator: FirstArrayElement
          - operator: getField
            args:
              field:
                value:
                  simple: id
      input:
        simple: Update
      parentPlaybookID:
        simple: CE-OCM-Security-loop
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: d91a1b3d-5229-420e-850c-84748a3c9eb5
    type: regular
    task:
      id: d91a1b3d-5229-420e-850c-84748a3c9eb5
      version: -1
      name: Notify related clicks
      description: Wake up clicks associated to the case, in order to trigger the
        updates.
      scriptName: TC2TechCEWakeUpClicks
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 14213c21-46a3-40bf-8a9e-5efba69325ce
    type: condition
    task:
      id: 14213c21-46a3-40bf-8a9e-5efba69325ce
      version: -1
      name: Wait for closure
      description: Manual wait.
      tags:
      - WaitForClosure
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      CaseClosed:
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 2932f674-6a38-40a6-897b-008122b7278c
    type: regular
    task:
      id: 2932f674-6a38-40a6-897b-008122b7278c
      version: -1
      name: Close all clicks
      description: Closes all click events related to the current case.
      scriptName: TC2TechCECloseClicks
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "17_19_#default#": 0.48,
      "17_20_yes": 0.49,
      "19_21_ReadyForUpdate": 0.5,
      "23_14_CaseClosed": 0.51
    },
    "paper": {
      "dimensions": {
        "height": 2310,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: false
tests:
- No tests (auto formatted)
fromversion: 6.5.0
description: Main case management playbook for the CleanEmail service.
