Packs/TelefonicaCleanEmail/Playbooks/playbook-TC2Tech_CleanEmail_Security_loop.yml
id: CE-OCM-Security-loop
version: -1
name: CE-OCM-Security-loop
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 72b7b633-d078-4934-80ca-de3909e1a86b
    type: start
    task:
      id: 72b7b633-d078-4934-80ca-de3909e1a86b
      version: -1
      name: ""
      description: Playbook entry point.
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 26e6a81f-0ab5-432b-864a-27c608c8ef03
    type: regular
    task:
      id: 26e6a81f-0ab5-432b-864a-27c608c8ef03
      version: -1
      name: Clear context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      all:
        simple: "yes"
      keysToKeep:
        simple: TC2Tech.Portal.Rows
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 0b34e870-6379-41dc-8abe-9f12e02955f9
    type: title
    task:
      id: 0b34e870-6379-41dc-8abe-9f12e02955f9
      version: -1
      name: Playbook finished
      description: Playbook exit.
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: f8381eee-7c52-41b4-83a6-b187d1e690e8
    type: condition
    task:
      id: f8381eee-7c52-41b4-83a6-b187d1e690e8
      version: -1
      name: Wait for clicks
      description: Manual wait.
      tags:
      - WaitForClicks
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      Close:
      - "4"
      Update:
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: c8879cb8-6e93-4e47-8d19-659967c026b4
    type: regular
    task:
      id: c8879cb8-6e93-4e47-8d19-659967c026b4
      version: -1
      name: Break loop
      description: Sets/unsets the wait flag for the current incident.
      scriptName: TC2TechOCMSetWait
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      wait:
        simple: "no"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 9d5c6141-5472-437b-817a-66c1ddce0882
    type: regular
    task:
      id: 9d5c6141-5472-437b-817a-66c1ddce0882
      version: -1
      name: Prepare OCM context
      description: Creates OCM context from incident, based on operation and client
        info.
      scriptName: TC2TechOCMContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      operation:
        simple: UPDATE
      queue:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: clean_email.queue
      transcode:
        complex:
          root: TC2Tech.Portal
          accessor: Rows
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: items
      type:
        simple: SECURITY
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 9d1607f9-3783-4f05-8527-70167754f82b
    type: regular
    task:
      id: 9d1607f9-3783-4f05-8527-70167754f82b
      version: -1
      name: Update case
      description: Delivers a message to the specified queue.
      script: AWS - SQS_senderv2|||aws-sqs-send-message
      type: regular
      iscommand: true
      brand: AWS - SQS_senderv2
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      messageBody:
        complex:
          root: TC2Tech.OCM
          accessor: Context
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: '{context: @}'
          - operator: Stringify
      messageGroupId:
        simple: "1"
      queueUrl:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: ocm.queue
      using:
        simple: AWS_SQS_senderv2_CleanEmail_PRO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 910,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: false
tests:
- No tests (auto formatted)
fromversion: 6.5.0
description: Loop playbook used in waiting for clicks related to the current case.
