Packs/TelefonicaCleanEmail/Playbooks/playbook-TC2Tech_CleanEmail_Security.yml
id: CE-OCM-Security
version: -1
name: CE-OCM-Security
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d13b4736-79da-4922-8f7e-3704f53fe9b6
    type: start
    task:
      id: d13b4736-79da-4922-8f7e-3704f53fe9b6
      version: -1
      name: ""
      description: Playbook entry point.
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 94e8af16-4c2c-48cc-8058-58292dc67fdd
    type: regular
    task:
      id: 94e8af16-4c2c-48cc-8058-58292dc67fdd
      version: -1
      name: Clear context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
      - "5"
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 33b06399-0f99-409b-8add-2aac29ca6c18
    type: title
    task:
      id: 33b06399-0f99-409b-8add-2aac29ca6c18
      version: -1
      name: Playbook Finished
      description: Playbook exit.
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 437.5,
          "y": 2105
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 438d58f4-34d5-4ae1-8c98-5ffb4b0ec5d3
    type: regular
    task:
      id: 438d58f4-34d5-4ae1-8c98-5ffb4b0ec5d3
      version: -1
      name: Assign client
      description: Assigns a client from the service client list, using the incident
        source instance.
      scriptName: TC2TechCEAssignClient
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      clients:
        complex:
          root: lists
          accessor: clean_email_clients
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 8b45089b-5be5-4686-839c-8e83b42f7c44
    type: regular
    task:
      id: 8b45089b-5be5-4686-839c-8e83b42f7c44
      version: -1
      name: Transcode client
      description: Get all rows matching the search parameters.
      script: CybPortalLists|||tc2tech-portal-rows-get
      type: regular
      iscommand: true
      brand: CybPortalLists
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      external_id:
        simple: trascoding
      filter:
        simple: "{\n\t\"and\": [\n\t\t{\n\t\t\t\"eq\": {\n\t\t\t\t\"attribute\": \"tenantID\",\n\t\t\t\t\"value\":
          ${incident.tc2techtenantid}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"eq\": {\n\t\t\t\t\"attribute\":
          \"socID\",\n\t\t\t\t\"value\": ${incident.tc2techsocid}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"eq\":
          {\n\t\t\t\t\"attribute\": \"clientID\",\n\t\t\t\t\"value\": ${incident.tc2techclientid}\n\t\t\t}\n\t\t}\n\t]\n}"
      limit:
        simple: "1"
      tenant_id:
        simple: "1"
      using:
        simple: CybPortalLists_PRO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c48dbec0-08e2-45ea-8196-e97dc93d4fc7
    type: regular
    task:
      id: c48dbec0-08e2-45ea-8196-e97dc93d4fc7
      version: -1
      name: Generate UUID
      description: Generates a random UUID (UUID 4).
      scriptName: GenerateRandomUUID
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: d5cb76f6-0327-45ae-8a52-9cea9db94f98
    type: regular
    task:
      id: d5cb76f6-0327-45ae-8a52-9cea9db94f98
      version: -1
      name: Assign service IDs
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      tc2techserviceincidentid:
        complex:
          root: GeneratedUUID
      tc2techsourcesystemid:
        complex:
          root: lists
          accessor: services
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: clean_email.source_system_id
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 29a92e2f-17b1-401c-8643-e5967085015a
    type: regular
    task:
      id: 29a92e2f-17b1-401c-8643-e5967085015a
      version: -1
      name: Adapt to OCM
      description: Adapt the Proofpoint event information to the Case Management data
        model.
      scriptName: TC2TechCEModelETL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: fd4786e2-011e-4bee-8955-3210b0855d67
    type: condition
    task:
      id: fd4786e2-011e-4bee-8955-3210b0855d67
      version: -1
      name: Event type?
      description: Decides the flow according to the event type.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "2"
      Click:
      - "18"
      Message:
      - "10"
    separatecontext: false
    conditions:
    - label: Message
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.type
            iscontext: true
          right:
            value:
              simple: CleanEmail Message
    - label: Click
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.type
            iscontext: true
          right:
            value:
              simple: CleanEmail Click
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 012c8045-866f-48d1-8284-4f649a712c20
    type: regular
    task:
      id: 012c8045-866f-48d1-8284-4f649a712c20
      version: -1
      name: Prepare OCM context
      description: Creates OCM context from incident, based on operation and client
        info.
      scriptName: TC2TechOCMContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      operation:
        simple: CREATE
      transcode:
        complex:
          root: TC2Tech.Portal
          accessor: Rows
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: items
      type:
        simple: SECURITY
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 23dcd579-99c9-4427-88c5-b0e2a620dd35
    type: regular
    task:
      id: 23dcd579-99c9-4427-88c5-b0e2a620dd35
      version: -1
      name: Create case
      description: Delivers a message to the specified queue.
      script: AWS - SQS_senderv2|||aws-sqs-send-message
      type: regular
      iscommand: true
      brand: AWS - SQS_senderv2
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      messageBody:
        complex:
          root: TC2Tech.OCM
          accessor: Context
          transformers:
          - operator: jmespath
            args:
              expression:
                value:
                  simple: '{context: @}'
          - operator: Stringify
      messageGroupId:
        simple: "1"
      queueUrl:
        simple: https://sqs.eu-west-1.amazonaws.com/871432524518/OCM-Ticketing-Spring-pro.fifo
      using:
        simple: AWS_SQS_senderv2_CleanEmail_PRO
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 9cff144d-f4ad-47f0-8ecc-47af007d2612
    type: playbook
    task:
      id: 9cff144d-f4ad-47f0-8ecc-47af007d2612
      version: -1
      name: CE-OCM-Security-loop
      description: Process case updates.
      playbookName: CE-OCM-Security-loop
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 58a6a61a-f652-445f-8b65-83d796d1abdd
    type: regular
    task:
      id: 58a6a61a-f652-445f-8b65-83d796d1abdd
      version: -1
      name: Set wait for clicks
      description: Sets/unsets the wait flag for the current incident.
      scriptName: TC2TechOCMSetWait
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      wait:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 57.5,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 5f14c31e-7e0d-4f09-8e53-2c14eb3038ec
    type: regular
    task:
      id: 5f14c31e-7e0d-4f09-8e53-2c14eb3038ec
      version: -1
      name: Close incident
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: d331bee4-08ee-4ead-8f82-cb232ec564e9
    type: regular
    task:
      id: d331bee4-08ee-4ead-8f82-cb232ec564e9
      version: -1
      name: Get related active case
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      scriptName: SearchIncidentsV2
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      query:
        simple: type:"CleanEmail Message" ${incident.tc2techcemessageid} -status:2
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 715,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: d943f083-a191-4254-86a4-f32e7bdace02
    type: condition
    task:
      id: d943f083-a191-4254-86a4-f32e7bdace02
      version: -1
      name: Has the active case been found?
      description: Check whether the case has been closed or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "2"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              complex:
                root: foundIncidents
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "0"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 715,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 723ab6b8-75b1-4781-82fb-1e6aa22c172f
    type: condition
    task:
      id: 723ab6b8-75b1-4781-82fb-1e6aa22c172f
      version: -1
      name: Has been blocked?
      description: Check whether the click was blocked or not.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              complex:
                root: incident
                accessor: tc2techceblocked
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 82ee11f1-2335-44c1-8a59-7f6990233a50
    type: condition
    task:
      id: 82ee11f1-2335-44c1-8a59-7f6990233a50
      version: -1
      name: Wait for related active case
      description: Wait for the related case to be ready to accept updates.
      tags:
      - WaitForMessage
      type: condition
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 1790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 735,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
quiet: false
tests:
- No tests (auto formatted)
fromversion: 6.5.0
description: Main case management playbook for the CleanEmail service.
